<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
  <!--template slot transition -->
  <input type="radio" v-model="radio" value="home">home
  <input type="radio" v-model="radio" value="list">list
  <!--一般用作缓存：为的是后面的路由做准备，如果缓存了就不会再走created mounted钩子函数-->

  <keep-alive>
    <component :is="radio"></component>
  </keep-alive>
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
    let home = {
        template:'<div>home</div>',
        mounted(){alert('挂载')},
        beforeDestroy(){alert('销毁')}
    };
    let list = {
        template:'<div>list</div>',
        mounted(){alert('挂载')},
        beforeDestroy(){alert('销毁')}
    };
    let vm = new Vue({
        el:'#app',
        data:{radio:'home'},
        components:{
            home,list
        },

    })
</script>
</body>
</html>

